In [1]:
import pandas as pd

In [2]:
df_ROS=pd.read_csv('../datasets/RecurrenceOfSurgery.csv')
df_ROS

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [3]:
df_ROSL = df_ROS[['Location of herniation','ODI', '입원기간', '통증기간(월)', '수술시간', '수술기법', 'Seg Angle(raw)' ]]
df_ROSL[:2]

   Location of herniation   ODI  입원기간  통증기간(월)  수술시간  수술기법  Seg Angle(raw)
0                       3  51.0     2      1.0  68.0  TELD            14.4
1                       4  26.0     1      1.0  31.0  TELD            17.8

### 수술기법 TELD와 IELD를 0, 1로 바꾸기

In [4]:
def tech(str) :
    if str == 'TELD' :
        return 0
    elif str == 'IELD' :
        return 1
    else :
        return None

In [5]:
df_ROSL['수술기법'] = df_ROSL['수술기법'].apply(tech)

C:\Users\01-15\AppData\Local\Temp\ipykernel_4444\1321863713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSL['수술기법'] = df_ROSL['수술기법'].apply(tech)

In [6]:
df_ROSL['수술기법']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1889    NaN
1890    NaN
1891    1.0
1892    NaN
1893    NaN
Name: 수술기법, Length: 1894, dtype: float64

In [7]:
df_ROSL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Location of herniation  1894 non-null   int64
 1   ODI                     462 non-null    float64
 2   입원기간                    1894 non-null   int64
 3   통증기간(월)                 1890 non-null   float64
 4   수술시간                    1840 non-null   float64
 5   수술기법                    1813 non-null   float64
 6   Seg Angle(raw)          1893 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 103.7 KB

In [8]:
df_ROSL.isnull().sum()

Location of herniation       0
ODI                       1432
입원기간                         0
통증기간(월)                      4
수술시간                        54
수술기법                        81
Seg Angle(raw)               1
dtype: int64

### ODI, 수술기법(int) 제외하고 null 채우기

In [9]:
mean_value = df_ROSL['통증기간(월)'].mean()

In [10]:
df_ROSL['통증기간(월)'].fillna(mean_value, inplace=True)

C:\Users\01-15\AppData\Local\Temp\ipykernel_4444\27000118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSL['통증기간(월)'].fillna(mean_value, inplace=True)

In [11]:
median_value=df_ROSL['수술시간'].median()

In [12]:
df_ROSL['수술시간'].fillna(median_value, inplace=True)

C:\Users\01-15\AppData\Local\Temp\ipykernel_4444\3795188775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSL['수술시간'].fillna(median_value, inplace=True)

In [13]:
angle_mean = df_ROSL['Seg Angle(raw)'].mean()

In [14]:
df_ROSL['Seg Angle(raw)'].fillna(angle_mean, inplace=True)

C:\Users\01-15\AppData\Local\Temp\ipykernel_4444\3687397568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSL['Seg Angle(raw)'].fillna(angle_mean, inplace=True)

In [15]:
df_ROSL.isnull().sum()

Location of herniation       0
ODI                       1432
입원기간                         0
통증기간(월)                      0
수술시간                         0
수술기법                        81
Seg Angle(raw)               0
dtype: int64

### ODI null값 채우기 (수술기법 제외하고 이용하기)
- LinearRegression

In [16]:
df_ROSL_ODI = df_ROSL.drop(columns=['수술기법'])
df_ROSL_ODI[:2]

   Location of herniation   ODI  입원기간  통증기간(월)  수술시간  Seg Angle(raw)
0                       3  51.0     2      1.0  68.0            14.4
1                       4  26.0     1      1.0  31.0            17.8

In [17]:
df_ROSL_ODI.isnull().sum()

Location of herniation       0
ODI                       1432
입원기간                         0
통증기간(월)                      0
수술시간                         0
Seg Angle(raw)               0
dtype: int64

In [18]:
df_ROSL_ODI_null=df_ROSL_ODI.dropna()
df_ROSL_ODI_null

      Location of herniation   ODI  입원기간  통증기간(월)  수술시간  Seg Angle(raw)
0                          3  51.0     2      1.0  68.0            14.4
1                          4  26.0     1      1.0  31.0            17.8
3                          4  18.0     1      2.0  73.0            19.9
8                          3  31.0     1      1.0  49.0            13.8
11                         3  39.0     1      1.0  49.0            13.5
...                      ...   ...   ...      ...   ...             ...
1687                       3  29.0     1      6.0  50.0            19.5
1688                       1  19.0     1      3.0  50.0            12.4
1868                       2   4.0     2      1.0  95.0            19.4
1874                       4  19.0     3      6.0  70.0             9.1
1885                       1  15.0     7      4.0  70.0            16.8

[462 rows x 6 columns]

In [19]:
target_ODI = df_ROSL_ODI_null['ODI']
labels_ODI = df_ROSL_ODI_null.drop(columns = ['ODI'])

In [20]:
df_ROSL_ODI_null.columns

Index(['Location of herniation', 'ODI', '입원기간', '통증기간(월)', '수술시간',
       'Seg Angle(raw)'],
      dtype='object')

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [23]:
model.fit(labels_ODI, target_ODI)

LinearRegression()

In [24]:
def fill_null_odi_with_model(df, model):
    # null 값이 있는 행을 추출합니다.
    null_rows = df[df['ODI'].isnull()]

    if not null_rows.empty:
        # 'ODI' 열을 예측하기 위한 레이블과 특성을 추출합니다.
        labels = null_rows.drop(columns=['ODI'])
        predicted_odi_values = model.predict(labels)

        # 예측값을 원래 데이터프레임에 적용합니다.
        df.loc[df['ODI'].isnull(), 'ODI'] = predicted_odi_values

    return df

In [25]:
# 함수를 호출하여 ODI 열의 null 값을 채우세요.
df_filled_ODI = fill_null_odi_with_model(df_ROSL_ODI, model)

In [26]:
df_filled_ODI

      Location of herniation        ODI  입원기간  통증기간(월)  수술시간  Seg Angle(raw)
0                          3  51.000000     2      1.0  68.0            14.4
1                          4  26.000000     1      1.0  31.0            17.8
2                          3  32.188357     1      1.0  78.0            10.2
3                          4  18.000000     1      2.0  73.0            19.9
4                          4  32.540831     2      1.0  29.0             5.2
...                      ...        ...   ...      ...   ...             ...
1889                       1  29.022749     2     12.0  80.0            21.8
1890                       2  30.308698     4      6.0  20.0             5.0
1891                       3  30.639320     3      1.0  50.0            17.4
1892                       2  27.895562     4     24.0  25.0            17.7
1893                       2  29.435306     2      6.0  45.0            27.8

[1894 rows x 6 columns]

In [27]:
df_filled_ODI['수술기법']=df_ROSL['수술기법']

In [28]:
df_filled_ODI[:2] ## ODI null값은 채움

   Location of herniation   ODI  입원기간  통증기간(월)  수술시간  Seg Angle(raw)  수술기법
0                       3  51.0     2      1.0  68.0            14.4   0.0
1                       4  26.0     1      1.0  31.0            17.8   0.0

### 수술기법 null 채우기
- LogisticRegression

In [29]:
df_filled_ODI.isnull().sum()

Location of herniation     0
ODI                        0
입원기간                       0
통증기간(월)                    0
수술시간                       0
Seg Angle(raw)             0
수술기법                      81
dtype: int64

In [30]:
df_ROSL_tech = df_filled_ODI.dropna()

In [31]:
target_tech = df_ROSL_tech['수술기법']
features_tech= df_ROSL_tech.drop(columns=['수술기법'])

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
model_Logistic = LogisticRegression()

In [34]:
model_Logistic.fit(features_tech, target_tech)

LogisticRegression()

In [35]:
def fill_null_tech_with_model(df, model_Logistic):
    # null 값이 있는 행을 추출합니다.
    null_rows = df[df['수술기법'].isnull()]

    if not null_rows.empty:
        # '수술기법' 열을 예측하기 위한 레이블과 특성을 추출합니다.
        features = null_rows.drop(columns=['수술기법'])
        predicted_tech_values = model_Logistic.predict(features)

        # 예측값을 원래 데이터프레임에 적용합니다.
        df.loc[df['수술기법'].isnull(), '수술기법'] = predicted_tech_values

    return df

In [36]:
# 함수를 호출하여 수술기법 열의 null 값을 채우세요.
df_ROSL_tech = fill_null_tech_with_model(df_filled_ODI, model_Logistic)

In [37]:
df_ROSL_tech

,Location of herniation,ODI,입원기간,통증기간(월),수술시간,Seg Angle(raw),수술기법
0,3,51.000000,2,1.0,68.0,14.4,0.0
1,4,26.000000,1,1.0,31.0,17.8,0.0
2,3,32.188357,1,1.0,78.0,10.2,0.0
3,4,18.000000,1,2.0,73.0,19.9,0.0
4,4,32.540831,2,1.0,29.0,5.2,0.0
...,...,...,...,...,...,...,...
1889,1,29.022749,2,12.0,80.0,21.8,0.0
1890,2,30.308698,4,6.0,20.0,5.0,0.0
1891,3,30.639320,3,1.0,50.0,17.4,1.0
1892,2,27.895562,4,24.0,25.0,17.7,0.0
1893,2,29.435306,2,6.0,45.0,27.8,0.0

In [38]:
df_ROSL_tech['Location of herniation'].value_counts()

3    657
2    563
1    493
4    147
5     34
Name: Location of herniation, dtype: int64

In [39]:
df_ROSL_tech['수술기법'].value_counts()

0.0    1754
1.0     140
Name: 수술기법, dtype: int64

In [40]:
df_ROSL_tech.isnull().sum()

Location of herniation    0
ODI                       0
입원기간                      0
통증기간(월)                   0
수술시간                      0
Seg Angle(raw)            0
수술기법                      0
dtype: int64

In [41]:
df_ROSL=df_ROSL_tech

In [42]:
df_ROSL

,Location of herniation,ODI,입원기간,통증기간(월),수술시간,Seg Angle(raw),수술기법
0,3,51.000000,2,1.0,68.0,14.4,0.0
1,4,26.000000,1,1.0,31.0,17.8,0.0
2,3,32.188357,1,1.0,78.0,10.2,0.0
3,4,18.000000,1,2.0,73.0,19.9,0.0
4,4,32.540831,2,1.0,29.0,5.2,0.0
...,...,...,...,...,...,...,...
1889,1,29.022749,2,12.0,80.0,21.8,0.0
1890,2,30.308698,4,6.0,20.0,5.0,0.0
1891,3,30.639320,3,1.0,50.0,17.4,1.0
1892,2,27.895562,4,24.0,25.0,17.7,0.0
1893,2,29.435306,2,6.0,45.0,27.8,0.0

In [43]:
df_ROSL.isnull().sum() #final

Location of herniation    0
ODI                       0
입원기간                      0
통증기간(월)                   0
수술시간                      0
Seg Angle(raw)            0
수술기법                      0
dtype: int64

In [71]:
df_ROSL

,Location of herniation,ODI,입원기간,통증기간(월),수술시간,Seg Angle(raw),TELD,IELD
0,3,51.000000,2,1.0,68.0,14.4,1.0,0.0
1,4,26.000000,1,1.0,31.0,17.8,1.0,0.0
2,3,32.188357,1,1.0,78.0,10.2,1.0,0.0
3,4,18.000000,1,2.0,73.0,19.9,1.0,0.0
4,4,32.540831,2,1.0,29.0,5.2,1.0,0.0
...,...,...,...,...,...,...,...,...
1889,1,29.022749,2,12.0,80.0,21.8,1.0,0.0
1890,2,30.308698,4,6.0,20.0,5.0,1.0,0.0
1891,3,30.639320,3,1.0,50.0,17.4,0.0,1.0
1892,2,27.895562,4,24.0,25.0,17.7,1.0,0.0
1893,2,29.435306,2,6.0,45.0,27.8,1.0,0.0

In [44]:
from sklearn.preprocessing import OneHotEncoder

In [45]:
oneHotEncoder = OneHotEncoder()

In [46]:
oneHotEncoder.fit(df_ROSL[['수술기법']])

OneHotEncoder()

In [47]:
columns_name = oneHotEncoder.categories_

In [48]:
# TELD, IELD를 transform 
encoded_data=oneHotEncoder.transform(df_ROSL[['수술기법']]).toarray()

In [49]:
encoded_data = pd.DataFrame(data=encoded_data, columns=columns_name)
encoded_data

      0.0  1.0
0     1.0  0.0
1     1.0  0.0
2     1.0  0.0
3     1.0  0.0
4     1.0  0.0
...   ...  ...
1889  1.0  0.0
1890  1.0  0.0
1891  0.0  1.0
1892  1.0  0.0
1893  1.0  0.0

[1894 rows x 2 columns]

In [50]:
encoded_data.columns = ['TELD', 'IELD']

In [51]:
df_ROSL_drops=df_ROSL.drop(columns=['수술기법'])
df_ROSL_drops

      Location of herniation        ODI  입원기간  통증기간(월)  수술시간  Seg Angle(raw)
0                          3  51.000000     2      1.0  68.0            14.4
1                          4  26.000000     1      1.0  31.0            17.8
2                          3  32.188357     1      1.0  78.0            10.2
3                          4  18.000000     1      2.0  73.0            19.9
4                          4  32.540831     2      1.0  29.0             5.2
...                      ...        ...   ...      ...   ...             ...
1889                       1  29.022749     2     12.0  80.0            21.8
1890                       2  30.308698     4      6.0  20.0             5.0
1891                       3  30.639320     3      1.0  50.0            17.4
1892                       2  27.895562     4     24.0  25.0            17.7
1893                       2  29.435306     2      6.0  45.0            27.8

[1894 rows x 6 columns]

In [52]:
encoded_data.columns = ['TELD', 'IELD']

In [53]:
df_ROSL_final = pd.concat([df_ROSL_drops, encoded_data], axis=1)
df_ROSL_final

,Location of herniation,ODI,입원기간,통증기간(월),수술시간,Seg Angle(raw),TELD,IELD
0,3,51.000000,2,1.0,68.0,14.4,1.0,0.0
1,4,26.000000,1,1.0,31.0,17.8,1.0,0.0
2,3,32.188357,1,1.0,78.0,10.2,1.0,0.0
3,4,18.000000,1,2.0,73.0,19.9,1.0,0.0
4,4,32.540831,2,1.0,29.0,5.2,1.0,0.0
...,...,...,...,...,...,...,...,...
1889,1,29.022749,2,12.0,80.0,21.8,1.0,0.0
1890,2,30.308698,4,6.0,20.0,5.0,1.0,0.0
1891,3,30.639320,3,1.0,50.0,17.4,0.0,1.0
1892,2,27.895562,4,24.0,25.0,17.7,1.0,0.0
1893,2,29.435306,2,6.0,45.0,27.8,1.0,0.0

In [54]:
df_ROSL=df_ROSL_final

### imbalnce

In [55]:
target_fill = df_ROSL['Location of herniation']
features_fill = df_ROSL.drop(columns=['Location of herniation'])

In [56]:
from imblearn.under_sampling import TomekLinks

In [57]:
features_fill.shape, target_fill.shape

((1894, 7), (1894,))

In [58]:
from collections import Counter

In [59]:
Counter(target_fill) # target의 imbalance check

Counter({3: 657, 4: 147, 2: 563, 5: 34, 1: 493})

In [60]:
tomekLinks = TomekLinks()

In [61]:
features, target = tomekLinks.fit_resample(features_fill, target_fill) ## 데이터를 건드릴때는 features와 target을 동시에 진행해줘야함.

In [62]:
features.shape, target.shape

((1289, 7), (1289,))

In [63]:
Counter(target)

Counter({3: 462, 4: 90, 2: 374, 5: 34, 1: 329})

#### Scaling_MinMax
- OneHotEncoder는 수술기법에 적용하려고 했으나 0,l 두개라서 그냥 if 조건으로 돌려버림

###### 스케일링의 이유:

- 다양한 변수 범위 조정: 다양한 변수의 범위를 조정하여 모든 변수가 동일한 스케일을 가지도록 합니다. 이렇게 하면 모델이 변수 간의 중요도를 쉽게 파악할 수 있습니다.

- 알고리즘 안정성: 일부 머신러닝 알고리즘은 입력 변수의 스케일에 민감할 수 있습니다. 스케일링을 통해 알고리즘의 안정성을 향상시킵니다.

- 수렴 속도 향상: 일부 최적화 알고리즘은 데이터가 스케일링되지 않은 경우 더 빠르게 수렴할 수 있습니다.

In [64]:
from sklearn.preprocessing import MinMaxScaler

In [65]:
minMaxScaler=MinMaxScaler()

In [66]:
minmaxScaler = minMaxScaler.fit(features)

In [67]:
import pickle

In [68]:
with open ('../datasets/RecurrenceOfSurgery_scaler_onehot.pkl', 'wb') as pkl_scaler :
    pickle.dump(obj=minmaxScaler, file=pkl_scaler)
    pass

In [69]:
features=minmaxScaler.transform(features)
features.shape

(1289, 7)

In [70]:
df_ROSL

,Location of herniation,ODI,입원기간,통증기간(월),수술시간,Seg Angle(raw),TELD,IELD
0,3,51.000000,2,1.0,68.0,14.4,1.0,0.0
1,4,26.000000,1,1.0,31.0,17.8,1.0,0.0
2,3,32.188357,1,1.0,78.0,10.2,1.0,0.0
3,4,18.000000,1,2.0,73.0,19.9,1.0,0.0
4,4,32.540831,2,1.0,29.0,5.2,1.0,0.0
...,...,...,...,...,...,...,...,...
1889,1,29.022749,2,12.0,80.0,21.8,1.0,0.0
1890,2,30.308698,4,6.0,20.0,5.0,1.0,0.0
1891,3,30.639320,3,1.0,50.0,17.4,0.0,1.0
1892,2,27.895562,4,24.0,25.0,17.7,1.0,0.0
1893,2,29.435306,2,6.0,45.0,27.8,1.0,0.0